.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo-img {
  max-width: 120px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.titulo-menu {
  font-size: 1.8em;
  margin-top: 10px;
  color: #333;
}

.menu-grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.menu-card {
  background: linear-gradient(135deg, #f5f5f5, #e0e0e0);
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #333;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.menu-card:hover {
  transform: scale(1.03);
}

.card-icon {
  font-size: 2em;
  margin-bottom: 8px;
}

.card-text {
  font-size: 1.1em;
  font-weight: bold;
}


footer{
  margin-top: 40px;
  padding: 8px;
  text-align: center;
  background-color: var(--color-secundario);
  color: var(--color-texto);
  border-radius: 5px;
  font-size: 14px;

}

footer img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  max-width: 120px;
  margin-bottom: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0,2);
  background-color: #fff;
}

footer p {
  line-height: 1.2; /* más compacto que el valor por defecto */
  margin-top: 0;
}


