{% extends 'base.html' %}
{% block contenido %}
<div class="container py-3">
  <h2 class="text-center mb-4">👤 Productores</h2>

  {% for p in productores %}
  <div class="card mb-4 shadow-sm">
    <div class="card-header bg-primary text-white fw-bold">
      {{ p.nombre }} — CUIT: {{ p.cuit }} — Localidad: {{ p.localidad }}
    </div>
    <div class="card-body">
      <form method="GET" action="{{ url_for('ordenes.nueva_orden') }}">
        <input type="hidden" name="productor_id" value="{{ p.id }}">

       

        <div class="text-end">
          <button type="submit" class="btn btn-info btn-lg w-100 mb-2">🧪 Crear Nueva OT</button>
          <a href="{{ url_for('ordenes.resumen_por_productor', productor_id=p.id) }}" class="btn btn-outline-secondary btn-lg w-100">📋 Ver OT de este productor</a>
        </div>
      </form>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
